.container {
    max-width: 960px;
}

.jumbotron {
    text-align: center;
    font-weight: 900;
    font-size: 80px;
    font-family: 'Old English Text MT', 'Arial Narrow', Arial, serif;
    background-image: url("img/nttimes.jpg");
    background-color: #cccccc;
    background-blend-mode: overlay;
    height: 300px;
    margin-top: 2rem;
    padding: 2rem;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body a {
    word-break: break-all;
}

.card-body  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
}

#result p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#result h3 {
    margin-top: 1rem;
    font-weight: 600;
}

.user-input {
    width: 100%;
}

#result {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 30px;
}

#searchPara, #topArticles{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid lightgray;
    border-radius: 2px;
    padding: 5px 15px;
    background-color: lightgray;
}

form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid lightgray;
    border-radius: 2px;
    padding: 8px;
}

.form-group {
    margin-bottom: 0;
}

footer {
    text-align: center;
    border-top: 2px solid lightgray;
    padding: 10px;
}

@media only screen and (min-width: 875px) {
    .jumbotron {
      font-size: 80px;
    }
  }
  
  @media only screen and (max-width: 874.99px) {
    .jumbotron {
      font-size: 70px;
    }
  }

  @media only screen and (max-width: 568.99px) {
    .jumbotron {
      font-size: 55px;
    }
  }